body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    border: 0;
    margin: 0;
    background-color: rgb(7, 7, 7);
}

div.contenedor {
    display: flex;
}

section.superior,
section.inferior {
    height: 40px;
    width: 580px;
    background: rgba(73, 0, 0, 1);
}

section.izquierda,
section.derecha {
    width: 40px;
    background: rgba(73, 0, 0, 1);
}