section.cristal {
    width: 300px;
    height: 100px;

    border-radius: 16px;
    border: solid 0.1px rgba(255, 255, 255, 0.33);
    z-index: 2;
}

div.blur {
    width: 100%;
    height: 100%;
    filter: blur(1.5px);
    background-color: rgba(127, 255, 212, 0.369);
    background: linear-gradient(90deg, rgba(53, 73, 69, 0.9009803750601804) 0%, rgba(73, 72, 53, 0.9205882181974352) 36%, rgba(70, 72, 56, 0.928991579541973) 62%, rgba(53, 73, 69, 0.8925770137156425) 100%);
    z-index: 3;
    border-radius: 16px;
}