main.marco {
    width: 500px;
    height: 300px;
    background-color: rgb(20, 23, 23);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(40, 18, 5) 54%, rgba(28, 21, 5, 1) 100%);
}