section.patas {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

div.pata {
    height: 25px;
    width: 10px;
    top: -10px;
    position: relative;
    background-color: black;
    border-radius: 15px 15px 0 0;
}